.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:1.110000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.873000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:1.023000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:0.730469;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.m1{transform:none;-ms-transform:none;-webkit-transform:none;}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._0{margin-left:-3.192851px;}
._2{margin-left:-1.386370px;}
._4{width:29.845959px;}
._1{width:30.944252px;}
._3{width:32.084556px;}
.fc0{color:rgb(255,255,255);}
.fc1{color:rgb(13,47,66);}
.fc4{color:rgb(227,44,45);}
.fc2{color:rgb(0,87,155);}
.fc3{color:rgb(74,20,140);}
.fs3{font-size:39.010401px;}
.fs0{font-size:42.011203px;}
.fs2{font-size:54.014404px;}
.fs1{font-size:84.022406px;}
.y0{bottom:0.000000px;}
.y1{bottom:0.215020px;}
.y1c{bottom:149.158052px;}
.y1b{bottom:180.664955px;}
.y1a{bottom:212.171957px;}
.y19{bottom:243.678959px;}
.y13{bottom:274.435761px;}
.y18{bottom:275.185961px;}
.y17{bottom:306.692864px;}
.y16{bottom:338.199866px;}
.y20{bottom:357.891953px;}
.y15{bottom:369.706868px;}
.y12{bottom:392.149270px;}
.y14{bottom:401.213871px;}
.y11{bottom:423.656272px;}
.y3{bottom:427.594673px;}
.y10{bottom:455.163275px;}
.yf{bottom:486.670277px;}
.ye{bottom:518.177279px;}
.yd{bottom:549.684182px;}
.yc{bottom:581.191184px;}
.y4{bottom:596.194485px;}
.yb{bottom:612.698186px;}
.ya{bottom:644.205188px;}
.y9{bottom:675.712091px;}
.y8{bottom:707.219093px;}
.y7{bottom:738.726095px;}
.y6{bottom:770.233098px;}
.y5{bottom:801.740000px;}
.y1f{bottom:811.492201px;}
.y1d{bottom:826.495502px;}
.y1e{bottom:842.999203px;}
.y2{bottom:873.756005px;}
.h6{height:34.407175px;}
.h7{height:34.524205px;}
.h3{height:37.179915px;}
.h5{height:47.802747px;}
.h4{height:59.739931px;}
.h2{height:925.704960px;}
.h0{height:925.919980px;}
.h1{height:926.000000px;}
.w0{width:1128.959960px;}
.w1{width:1129.000000px;}
.x0{left:0.000000px;}
.x2{left:63.986805px;}
.x1{left:209.343215px;}
.x7{left:215.110116px;}
.x8{left:329.135424px;}
.x9{left:519.427417px;}
.x3{left:543.432840px;}
.x4{left:622.950545px;}
.x5{left:883.133064px;}
.x6{left:970.902471px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._0{margin-left:-4.257135pt;}
._2{margin-left:-1.848493pt;}
._4{width:39.794612pt;}
._1{width:41.259002pt;}
._3{width:42.779408pt;}
.fs3{font-size:52.013868pt;}
.fs0{font-size:56.014937pt;}
.fs2{font-size:72.019205pt;}
.fs1{font-size:112.029875pt;}
.y0{bottom:0.000000pt;}
.y1{bottom:0.286693pt;}
.y1c{bottom:198.877403pt;}
.y1b{bottom:240.886606pt;}
.y1a{bottom:282.895942pt;}
.y19{bottom:324.905279pt;}
.y13{bottom:365.914349pt;}
.y18{bottom:366.914615pt;}
.y17{bottom:408.923818pt;}
.y16{bottom:450.933155pt;}
.y20{bottom:477.189271pt;}
.y15{bottom:492.942491pt;}
.y12{bottom:522.865693pt;}
.y14{bottom:534.951828pt;}
.y11{bottom:564.875030pt;}
.y3{bottom:570.126230pt;}
.y10{bottom:606.884366pt;}
.yf{bottom:648.893703pt;}
.ye{bottom:690.903039pt;}
.yd{bottom:732.912242pt;}
.yc{bottom:774.921578pt;}
.y4{bottom:794.925980pt;}
.yb{bottom:816.930915pt;}
.ya{bottom:858.940251pt;}
.y9{bottom:900.949454pt;}
.y8{bottom:942.958791pt;}
.y7{bottom:984.968127pt;}
.y6{bottom:1026.977463pt;}
.y5{bottom:1068.986667pt;}
.y1f{bottom:1081.989601pt;}
.y1d{bottom:1101.994002pt;}
.y1e{bottom:1123.998937pt;}
.y2{bottom:1165.008007pt;}
.h6{height:45.876234pt;}
.h7{height:46.032273pt;}
.h3{height:49.573220pt;}
.h5{height:63.736997pt;}
.h4{height:79.653241pt;}
.h2{height:1234.273280pt;}
.h0{height:1234.559973pt;}
.h1{height:1234.666667pt;}
.w0{width:1505.279947pt;}
.w1{width:1505.333333pt;}
.x0{left:0.000000pt;}
.x2{left:85.315740pt;}
.x1{left:279.124287pt;}
.x7{left:286.813488pt;}
.x8{left:438.847232pt;}
.x9{left:692.569889pt;}
.x3{left:724.577120pt;}
.x4{left:830.600727pt;}
.x5{left:1177.510753pt;}
.x6{left:1294.536628pt;}
}
