.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:1.110000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.873000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:1.023000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:0.730469;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.m1{transform:none;-ms-transform:none;-webkit-transform:none;}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._0{margin-left:-3.191184px;}
._1{margin-left:-1.385917px;}
.fc0{color:rgb(255,255,255);}
.fc4{color:rgb(227,44,45);}
.fc1{color:rgb(0,87,155);}
.fc2{color:rgb(74,20,140);}
.fc3{color:rgb(13,47,66);}
.fs3{font-size:38.989227px;}
.fs0{font-size:41.988398px;}
.fs2{font-size:53.985083px;}
.fs1{font-size:83.976796px;}
.y0{bottom:0.000000px;}
.y1{bottom:0.046651px;}
.y25{bottom:148.708982px;}
.y24{bottom:177.950893px;}
.y23{bottom:207.192803px;}
.y22{bottom:236.434666px;}
.y1d{bottom:237.934280px;}
.y21{bottom:265.676577px;}
.y20{bottom:294.918488px;}
.y1f{bottom:324.160447px;}
.y1e{bottom:353.402357px;}
.y29{bottom:388.141981px;}
.y3{bottom:426.632119px;}
.y1c{bottom:440.878195px;}
.y1b{bottom:440.878202px;}
.y1a{bottom:470.120106px;}
.y19{bottom:470.120112px;}
.y18{bottom:499.362017px;}
.y17{bottom:499.362023px;}
.y16{bottom:528.603966px;}
.y15{bottom:528.603970px;}
.y14{bottom:557.845879px;}
.y13{bottom:557.845883px;}
.y12{bottom:587.087792px;}
.y11{bottom:587.087796px;}
.y4{bottom:588.587393px;}
.y10{bottom:616.329706px;}
.yf{bottom:616.329710px;}
.ye{bottom:645.571648px;}
.yd{bottom:645.571652px;}
.yc{bottom:674.813561px;}
.yb{bottom:674.813565px;}
.ya{bottom:704.055474px;}
.y9{bottom:704.055478px;}
.y8{bottom:733.297399px;}
.y7{bottom:733.297405px;}
.y5{bottom:762.539316px;}
.y6{bottom:762.539327px;}
.y28{bottom:819.148678px;}
.y26{bottom:820.648267px;}
.y27{bottom:848.390598px;}
.y2{bottom:876.882727px;}
.h7{height:30.425187px;}
.h6{height:34.388498px;}
.h8{height:34.505466px;}
.h3{height:37.159732px;}
.h5{height:47.776799px;}
.h4{height:59.707502px;}
.h2{height:928.993329px;}
.h1{height:929.000000px;}
.h0{height:929.039980px;}
.w2{width:904.999954px;}
.w1{width:905.000000px;}
.w0{width:905.039980px;}
.x0{left:0.000000px;}
.x2{left:63.954986px;}
.x1{left:337.641073px;}
.x11{left:343.405123px;}
.x3{left:444.752093px;}
.x12{left:455.124245px;}
.x13{left:462.041571px;}
.x4{left:521.980826px;}
.x5{left:641.947653px;}
.x6{left:659.942661px;}
.xf{left:664.316468px;}
.x8{left:668.190380px;}
.x9{left:671.939396px;}
.xa{left:680.187092px;}
.x7{left:682.436468px;}
.xc{left:690.684163px;}
.xd{left:693.683347px;}
.xb{left:700.431475px;}
.xe{left:718.426482px;}
.x10{left:749.792849px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._0{margin-left:-4.254912pt;}
._1{margin-left:-1.847889pt;}
.fs3{font-size:51.985636pt;}
.fs0{font-size:55.984531pt;}
.fs2{font-size:71.980111pt;}
.fs1{font-size:111.969062pt;}
.y0{bottom:0.000000pt;}
.y1{bottom:0.062201pt;}
.y25{bottom:198.278642pt;}
.y24{bottom:237.267857pt;}
.y23{bottom:276.257071pt;}
.y22{bottom:315.246222pt;}
.y1d{bottom:317.245706pt;}
.y21{bottom:354.235436pt;}
.y20{bottom:393.224650pt;}
.y1f{bottom:432.213929pt;}
.y1e{bottom:471.203143pt;}
.y29{bottom:517.522641pt;}
.y3{bottom:568.842825pt;}
.y1c{bottom:587.837594pt;}
.y1b{bottom:587.837602pt;}
.y1a{bottom:626.826808pt;}
.y19{bottom:626.826817pt;}
.y18{bottom:665.816023pt;}
.y17{bottom:665.816031pt;}
.y16{bottom:704.805288pt;}
.y15{bottom:704.805293pt;}
.y14{bottom:743.794506pt;}
.y13{bottom:743.794511pt;}
.y12{bottom:782.783723pt;}
.y11{bottom:782.783728pt;}
.y4{bottom:784.783191pt;}
.y10{bottom:821.772941pt;}
.yf{bottom:821.772946pt;}
.ye{bottom:860.762197pt;}
.yd{bottom:860.762202pt;}
.yc{bottom:899.751414pt;}
.yb{bottom:899.751420pt;}
.ya{bottom:938.740632pt;}
.y9{bottom:938.740637pt;}
.y8{bottom:977.729866pt;}
.y7{bottom:977.729874pt;}
.y5{bottom:1016.719088pt;}
.y6{bottom:1016.719102pt;}
.y28{bottom:1092.198237pt;}
.y26{bottom:1094.197690pt;}
.y27{bottom:1131.187464pt;}
.y2{bottom:1169.176970pt;}
.h7{height:40.566916pt;}
.h6{height:45.851331pt;}
.h8{height:46.007288pt;}
.h3{height:49.546310pt;}
.h5{height:63.702398pt;}
.h4{height:79.610003pt;}
.h2{height:1238.657772pt;}
.h1{height:1238.666667pt;}
.h0{height:1238.719973pt;}
.w2{width:1206.666606pt;}
.w1{width:1206.666667pt;}
.w0{width:1206.719973pt;}
.x0{left:0.000000pt;}
.x2{left:85.273314pt;}
.x1{left:450.188097pt;}
.x11{left:457.873498pt;}
.x3{left:593.002791pt;}
.x12{left:606.832327pt;}
.x13{left:616.055428pt;}
.x4{left:695.974435pt;}
.x5{left:855.930204pt;}
.x6{left:879.923547pt;}
.xf{left:885.755291pt;}
.x8{left:890.920507pt;}
.x9{left:895.919195pt;}
.xa{left:906.916122pt;}
.x7{left:909.915290pt;}
.xc{left:920.912218pt;}
.xd{left:924.911129pt;}
.xb{left:933.908633pt;}
.xe{left:957.901976pt;}
.x10{left:999.723798pt;}
}
