.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:1.110000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.873000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:1.023000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:0.730469;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff5;src:url(f5.woff)format("woff");}.ff5{font-family:ff5;line-height:0.709473;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.m1{transform:none;-ms-transform:none;-webkit-transform:none;}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._0{margin-left:-3.192851px;}
._2{margin-left:-1.386370px;}
._4{width:29.845957px;}
._1{width:30.944249px;}
._3{width:32.084553px;}
.fc5{color:rgb(0,0,0);}
.fc0{color:rgb(255,255,255);}
.fc1{color:rgb(13,47,66);}
.fc4{color:rgb(227,44,45);}
.fc2{color:rgb(0,87,155);}
.fc3{color:rgb(74,20,140);}
.fs3{font-size:39.010400px;}
.fs0{font-size:42.011200px;}
.fs4{font-size:48.000000px;}
.fs2{font-size:54.014399px;}
.fs1{font-size:84.022399px;}
.y0{bottom:0.000000px;}
.y1{bottom:0.281500px;}
.y1e{bottom:12.387000px;}
.y19{bottom:148.790999px;}
.y18{bottom:180.299598px;}
.y17{bottom:211.808298px;}
.y16{bottom:243.316898px;}
.y11{bottom:258.320998px;}
.y15{bottom:274.825497px;}
.y14{bottom:306.334197px;}
.y13{bottom:337.842897px;}
.y12{bottom:369.351496px;}
.y1d{bottom:391.379603px;}
.y10{bottom:436.619996px;}
.y3{bottom:447.122896px;}
.yf{bottom:468.128596px;}
.ye{bottom:499.637295px;}
.yd{bottom:531.145995px;}
.yc{bottom:562.654595px;}
.yb{bottom:594.163294px;}
.y4{bottom:609.167394px;}
.ya{bottom:625.671894px;}
.y9{bottom:657.180594px;}
.y8{bottom:688.689193px;}
.y7{bottom:720.197893px;}
.y6{bottom:751.706493px;}
.y5{bottom:783.215193px;}
.y1c{bottom:826.352092px;}
.y1a{bottom:841.356192px;}
.y1b{bottom:857.860692px;}
.y2{bottom:888.619192px;}
.h8{height:33.328125px;}
.h6{height:34.407172px;}
.h7{height:34.524204px;}
.h3{height:37.179912px;}
.h5{height:47.802744px;}
.h4{height:59.739926px;}
.h2{height:940.758480px;}
.h1{height:941.000000px;}
.h0{height:941.039980px;}
.w1{width:910.000000px;}
.w2{width:910.000080px;}
.w0{width:910.079960px;}
.x0{left:0.000000px;}
.x2{left:63.990199px;}
.x1{left:337.827197px;}
.x7{left:343.594397px;}
.x9{left:440.315704px;}
.x3{left:444.997196px;}
.x8{left:457.625696px;}
.x4{left:524.519095px;}
.x5{left:664.682594px;}
.x6{left:752.456693px;}
.xa{left:776.631000px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._0{margin-left:-4.257135pt;}
._2{margin-left:-1.848493pt;}
._4{width:39.794609pt;}
._1{width:41.258999pt;}
._3{width:42.779404pt;}
.fs3{font-size:52.013867pt;}
.fs0{font-size:56.014933pt;}
.fs4{font-size:64.000000pt;}
.fs2{font-size:72.019199pt;}
.fs1{font-size:112.029866pt;}
.y0{bottom:0.000000pt;}
.y1{bottom:0.375333pt;}
.y1e{bottom:16.516000pt;}
.y19{bottom:198.387998pt;}
.y18{bottom:240.399464pt;}
.y17{bottom:282.411064pt;}
.y16{bottom:324.422530pt;}
.y11{bottom:344.427997pt;}
.y15{bottom:366.433996pt;}
.y14{bottom:408.445596pt;}
.y13{bottom:450.457196pt;}
.y12{bottom:492.468662pt;}
.y1d{bottom:521.839471pt;}
.y10{bottom:582.159994pt;}
.y3{bottom:596.163861pt;}
.yf{bottom:624.171461pt;}
.ye{bottom:666.183060pt;}
.yd{bottom:708.194660pt;}
.yc{bottom:750.206126pt;}
.yb{bottom:792.217726pt;}
.y4{bottom:812.223192pt;}
.ya{bottom:834.229192pt;}
.y9{bottom:876.240792pt;}
.y8{bottom:918.252258pt;}
.y7{bottom:960.263857pt;}
.y6{bottom:1002.275324pt;}
.y5{bottom:1044.286923pt;}
.y1c{bottom:1101.802789pt;}
.y1a{bottom:1121.808256pt;}
.y1b{bottom:1143.814256pt;}
.y2{bottom:1184.825589pt;}
.h8{height:44.437500pt;}
.h6{height:45.876230pt;}
.h7{height:46.032272pt;}
.h3{height:49.573216pt;}
.h5{height:63.736991pt;}
.h4{height:79.653234pt;}
.h2{height:1254.344640pt;}
.h1{height:1254.666667pt;}
.h0{height:1254.719973pt;}
.w1{width:1213.333333pt;}
.w2{width:1213.333440pt;}
.w0{width:1213.439947pt;}
.x0{left:0.000000pt;}
.x2{left:85.320266pt;}
.x1{left:450.436262pt;}
.x7{left:458.125862pt;}
.x9{left:587.087605pt;}
.x3{left:593.329594pt;}
.x8{left:610.167594pt;}
.x4{left:699.358793pt;}
.x5{left:886.243458pt;}
.x6{left:1003.275590pt;}
.xa{left:1035.508000pt;}
}
